*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Impostazioni generiche  */
.d-flex{
  display: flex;
}

.aling-center{
  align-items: center;
}

.small{
  width: 14px;
  height: 14px;
}

.cursor:hover{
  cursor: pointer;
}

.left{
  margin-left: 15px;
}


/*Elementi*/

header{
  position: relative;
  height: 60px;
}

.black{
  height: calc(100vh - 80px);
  background-color: black;
  padding-left: 60px;
}

.buttonboxtop{
  position: absolute;
  right: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.button{
  background-color: #4a4a4a;
  padding: 3px;
  border-radius: 5px;
  margin: 0 3px;
}

.button:hover{
  cursor: pointer;
}

.button svg{
  width: 15px;
  height: 15px;
  fill: white;
}

.button span{
  font-size: small;
  color: white;
}

/*Main  */

.container{
  flex-wrap: wrap;
}

.user-card{
  position: relative;
  border: 3px solid black;
}

.user-card img{
  object-fit: cover;
}

.mic-name{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
  padding: 6px;
}

.mic-name svg{
  width: 15px;
  height: 15px;
  fill: white;
}

.name{
  color: white;
}

.active{
  fill: #4bc800;
}



/*Footer  */

footer{
  background-color: #222222;
  height: 80px;
  justify-content: center;
  position: relative;
}

footer-left{
  width: 24%;
  height: 80px;
  position: absolute;
  left: 10px;
}

footer-center{
  width: 50%;
  height: 80px;
  justify-content: center;
}

footer-right{
  width: 25%;
  height: 80px;
  position: absolute;
  right: 0;
}

footer svg{
  width: 30px;
  height: 30px;
  fill: #fff
}

footer-center .svg-box{
  padding: 5px;
}

.name-box{
  flex-direction: column;
  align-items: center;
}

.txt{
  color: white;
  font-size: small;
}

.svg-box{
  align-items: center;
}

.end-meeting{
  background-color: #4a4a4a;
  color: red;
  position: absolute;
  right: 0;
  width: 110px;
  height: 100%;
}

.end-meeting:hover{
  cursor: pointer;
}

